/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*REGRAS COMUNS*/

   html, body{
     color: #4c4c4c;
     font-family: 'Nunito Sans', sans-serif;
     /*line-height: 1.4;*/
     height: 100%;
     margin: 0;
     padding: 0;
   }

   *{
    box-sizing: border-box;
   }

   img, figure{
     width: 100%;
     margin: 0;
   }

   .logo1, #figurepc, .navpc{
     display: none;
   }

   a{
     color: inherit;
     text-decoration: none;
   }

   a:hover{
     color: inherit;
     text-decoration: none;
   }

   .containerindex, .containerdesignweb,
   .containertraducao, .containerorientacao,
   .containerempresa{
     width: 90%;
     margin: auto;
     padding: 10px 0;
   }

   li{
     list-style: none;
   }

   ul{
     padding: 0;
   }

   /*END REGRAS COMUNS*/

   /*HEADER*/

    .header1{
      padding-top: 70px;
    }


    /*MENU JS for mobile*/

    .headerpc{
      display: none;
    }

    .container {
      overflow: hidden;
     *zoom: 1;
     padding: 0;
   }

   .site-content {
     padding-top: 66px;
   }


   /* MENU */

   .menu{
     float: left;
   }

   .menu a:hover{
     color: #dd4d57;
   }

   .menu img{
     width: 100px;
   }

   .menu {
     position: absolute;
     left: 0;
     top: 0;
     bottom: 0;
     background-color: #f9f9f4;
     width: 250px;
     -webkit-transform: translateX(-250px);
     transform: translateX(-250px);
   }

   .menu a {
     font-family: 'Poiret One', cursive;
     font-size: 18px;
     text-transform: uppercase;
     display: block;
     height: 40px;
     padding-bottom: 50px;
     text-align: center;
   }

   .site-pusher,
   .site-container{
     height: 100%;
   }

   .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     width: 95%;
     margin: auto;
     left: 0;
     right: 0;
     height: 60px;
     line-height: 60px;
     color: #4c4c4c;
     background-color: #f9f9f4;
   }

   .header__logo {
     font-weight: 700;
     float: left;
   }

   .header__logo img {
     width: 110px;
   }

   .site-container {
     overflow: hidden;
   }

   .site-pusher {
     -webkit-transition-duration: 0.5s;
     transition-duration: 0.65;
     -webkit-transform: translateX(0px);
     transform: translateX(0px);
   }

   .site-content {
     position: absolute;
     top: 60px;
     right: 0;
     left: 0;
     bottom: 0;
     padding-top: 0;
     overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
   }

   .header {
     position: static;
   }

   .header__icon {
     position: relative;
     display: block;
     float: left;
     width: 50px;
     height: 66px;
     cursor: pointer;
   }
   .header__icon:after {
     content: '';
     position: absolute;
     display: block;
     width: 1rem;
     height: 0;
     top: 16px;
     left: 15px;
     box-shadow: 0 10px 0 1px #4c4c4c, 0 16px 0 1px #4c4c4c, 0 22px 0 1px #4c4c4c;
   }

   .with--sidebar .site-pusher {
     -webkit-transform: translateX(250px);
     transform: translateX(250px);
   }
   .with--sidebar .site-cache {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.6);
   }

    /*END MENU JS*/

    /*header1*/

   .logo2{
     width: 200px;
   }

   .col-sm-12{
     padding: 0;
   }

   .follow, .follow2{
     border-top: 4px #dd4d57 solid;
     padding: 10px;
   }

   .follow{
     margin: 5px 20px;
   }

   .follow2{
     width: 100%;
   }

   .list-inline{
     text-align: right;
     width: 90%;
     margin: auto;
   }

   .follow a, .follow2 a{
     color: #383838;
     margin-left: 5px;
   }

   .follow i, .follow2 i{
     transition: color .2s ease-in-out;
   }

   .follow a:nth-child(1):hover i,
   .follow2 a:nth-child(1):hover i{
     color: #3B5998;
   }

   .follow a:nth-child(2):hover i,
   .follow2 a:nth-child(2):hover i{
     color: #4099FF;
   }

   .follow a:nth-child(3):hover i,
   .follow2 a:nth-child(3):hover i{
     color: #dd4b39;
   }

   .follow a:nth-child(4):hover i,
   .follow2 a:nth-child(4):hover i{
     color: #a63372;
   }

   .fa-2x{
     font-size: 1.5em;
   }

   .lingua ul{
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
   }

   .lingua ul li{
     padding-right: 4px;
     font-size: 13px;
   }

   .container{
     width: 100%;
   }

   .under:hover{
     color: #7c7c7c;
   }

   .lingua ul img{
     width: 20px;
   }

   /*END HEADER1*/

   /*HEADER END*/

   /*SLIDE RULES*/

    @keyframes slidy {
      0% { left: 0%; }
      20% { left: 0%; }
      25% { left: -100%; }
      45% { left: -100%; }
      50% { left: -200%; }
      70% { left: -200%; }
      75% { left: -300%; }
      95% { left: -300%; }
      100% { left: -400%; }
    }

    .captioned-gallery {
      width: 100%;
      overflow: hidden;
    }
    .slider {
      position: relative;
      width: 500%;
      font-size: 0;
      animation: 30s slidy infinite;
    }
    .slider figure {
      width: 20%;
      height: auto;
      display: inline-block;
      position: inherit;
    }
    .slider img {
      width: 100%;
      height: auto;
    }
    .slider figure figcaption {
      position: absolute;
      bottom: 0;
      background: rgba(0,0,0,0.4);
      width: 100%;
      font-size: 20px;
      padding: .6rem;
    }

    .slider figure figcaption a{
      color: #eff1ed;
      font-family: 'Poiret One', cursive;
    }

    .slider figure figcaption a:hover{
      color: #eff1ed;
      opacity: 0.5;
      text-decoration: none;
    }

   /*END SLIDE RULES*/

   /*CONTAINER INDEX*/

   .indexoferta{
     margin: auto;
     width: 90%;
   }

   .indexoferta article{
     text-align: center;
     padding: 30px 0;
   }

   .indexoferta article h2{
     color: #dd4d57;
     font-family: 'Poiret One', cursive;
     font-size: 40px;
     font-weight: normal;
     opacity: 0.8;
     margin-top: 5px;
   }

   .indexoferta article a img{
     width: 80px;
   }

   .indexproposta{
     margin-bottom: 30px;
     border: 4px #eff1ed solid;
     padding: 20px;
     text-align: justify;
   }

   #mail{
     color: #dd4d57;
   }

   #mail:hover{
     text-decoration: underline;
   }

   .prop{
     background: #dd4d57;
     width: 100%;
     border-radius: 8px;
     text-transform: uppercase;
     padding: 15px;
     color: #eff1ed;
     -webkit-transition: all .6s ease; /* Safari and Chrome */
     -moz-transition: all .6s ease; /* Firefox */
     -ms-transition: all .6s ease; /* IE 9 */
     -o-transition: all .6s ease; /* Opera */
     transition: all .6s ease;
   }

   .prop:hover, #prop2:hover{
     background: #dd4d57;
     color: #eff1ed;
     opacity: 0.8;
     text-decoration: none;
   }

   /*END CONTAINER INDEX*/

   /*CONTAINER DESIGN WEB*/

   .designweb h1, .traducao h1, .orientacao h1,
   .empresa h1, .containerindex h1{
     font-size: 28px;
     font-family: 'Poiret One', cursive;
     font-weight: normal;
     color: #dd4d57;
     /*opacity: .9;*/
     text-align: center;
     text-transform: uppercase;
     line-height: 40px;
     letter-spacing: 2px;
   }

   .subtitle{
     width: 100%;
     border-top: 1px #ccc solid;
     text-align: center;
     padding-top: 15px;
   }

   .designweb h2, .traducao1 h2, .orientacao h2,
   .empresa h2{
     font-size: 24px;
     color: #7c7c7c;
     margin: 15px auto;
   }

   .designweb h3{
     font-size: 18px;
     color: #7c7c7c;
     font-weight: bold;
   }

   .design1, .design2, .traducao1,
   .orientacao1, .orientacao2, .empresa1,
   .empresa2, .empresa3, .design22, .design3{
     border: 6px #eff1ed solid;
     margin: 15px 0;
     padding: 18px;
   }

   .designweb ul li{
     margin: 4px auto;
   }

   .design3 a{
     color: #dd4d57;
   }

   .design3 a:hover{
     text-decoration: underline;
   }

   .meio{
     display: flex;
     flex-direction: column;
     text-align: center;
     text-transform: uppercase;
   }

   #proj, #prop2{
     padding: 15px;
     margin: 10px 0;
     color: #eff1ed;
     border-radius: 10px;
     -webkit-transition: all .6s ease; /* Safari and Chrome */
     -moz-transition: all .6s ease; /* Firefox */
     -ms-transition: all .6s ease; /* IE 9 */
     -o-transition: all .6s ease; /* Opera */
     transition: all .6s ease;
   }

   #proj:hover{
     background: #7c7c7c;
     opacity: 0.8;
     text-decoration: none;
   }

   #proj{
     background-color: #7c7c7c;
   }

   #prop2{
     background-color: #dd4d57;
   }

   /*END CONTAINER DESIGN WEB*/

   /*CONTAINER PAGINA TRADUCAO*/

   .traducao1 figure{
     width: 80px;
     margin: 10px auto;
   }

   .traducao1{
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   /*END CONTAINER PAGINA TRADUCAO*/

   /*CONTAINER PAGINA ORIENTAÇAO*/

   .subul{
     padding-left: 20px;
     margin: 10px auto;
   }

   /* END CONTAINER PAGINA ORIENTAÇAO*/

   /*CONTAINER EMPRESA*/

   .empresa a{
     color: #dd4d57;
   }

   .empresa a:hover{
     text-decoration: underline;
   }

   .empresa3 ul li{
     padding-top: 15px;
   }


   /* END CONTAINER EMPRESA*/


   /*FOOTER*/

   .end2{
     background: #7c7c7c;
     color: #eff1ed;
   }

   .end2 ul{
     display: none;
   }

   .direito{
     width: 90%;
     padding: 10px 0;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .direito p{
     margin: 0;
     font-size: 12px;
   }

   .direito figure{
     width: 100px;
   }

   /*FOOTER END*/

   @media (min-width: 768px) {

      /*HEADER FOR TABLET*/

      .list-inline{
        width: 95%;
        margin-bottom: 5px;
      }

     /*END HEADER FOR TABLET*/

     /*GENERAL FOR ALL PAGES*/

     .captioned-gallery{
      width: 100%;
      height: 330px;
    }

    .slider figure {
      height: 330px;
    }

    .slider img {
      height: 330px;
    }

    .indexproposta{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .indexproposta article{
      width: 70%;
    }

    .prop{
      width: 168px;
    }

    /*END GENERAL FOR ALL PAGES*/

    /*PAGE INDEX*/

    .indexoferta{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .indexoferta article{
      width: 40%;
    }

    /*END PAGE INDEX*/

    /*PAGE WEB DESIGN*/

    .design1{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .designtext1 h2, .suporteend h3{
      margin-top: 0;
    }

    .design1 figure{
      width: 45%;
    }

    .designtext1{
      width: 50%;
    }

    .designtext2{
      width: 100%;
    }

    .meio{
      flex-direction: row;
      justify-content: space-between;
    }

    .meio2{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    #proj, #prop2, .design22{
      width: 48%;
    }

    .suporteend{
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 40px;
    }

    .suporteend article{
      width: 60%;
    }

    .suporteend figure{
      width: 35%;
    }

    /*END PAGE WEB DESIGN*/

    /*PAGE ORIENTACAO*/

    #figurepc{
      display: block;
    }

    .orientacao1, .orientacao2{
      margin: 0 0 15px 0;
      width: 70%;
    }

    .orientacaostyle1 figure{
      width: 28%;
    }

    .orientacaostyle1 figure img{
      border-radius: 50%;
    }

    .orientacaostyle1{
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }

    /*END PAGE ORIENTAÇAO*/

    /*PAGE TRADUCAO*/

    .traducao{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .traducao h1{
      width: 100%;
    }

    .traducao1{
      width: 45%;
      margin: 20px 0;
    }

    /*END PAGE TRADUCAO*/

    /*PAGE EMPRESA*/

    .empresa{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .empresa h1{
      width: 100%;
    }

    .empresa1{
      width: 65%;
      margin: 20px 0;
    }

    .empresa2{
      width: 30%;
      margin: 20px 0;
    }

    .empresa3{
      width: 100%;
    }

    /*END PAGE EMPRESA*/

    /*FOOTER*/

    .direito{
      justify-content: flex-start;
      width: 45%;
    }

    .end2{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .end2 ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin: auto;
      width: 45%;
    }

    .end2 ul li{
      padding-right: 4px;
      font-size: 13px;
    }

    .end2 ul li:hover{
      color: #ccc;
    }

    .end2 ul img{
      width: 20px;
    }

    /*END FOOTER*/

   }

   @media (min-width: 1024px) {

     /*general rules*/

     .site-container{
       overflow: inherit;
     }

     .site-content{
       overflow-y: inherit;
       -webkit-overflow-scrolling: inherit;
     }

     .follow2, .header{
       display: none;
     }

     .headerpc{
       display: block;
     }

     .captioned-gallery{
      width: 100%;
      height: 500px;
    }

    .slider figure {
      height: 500px;
    }

    .slider img {
      height: 500px;
    }

    .follow{
      margin: 0;
      width: 35%;
      padding: 10px 0;
    }

    .list-inline{
      width: 90%;
    }

    .logo1{
      display: block;
      width: 180px;
    }

    .header1{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin: auto;
      padding: 0 1em;
    }

    /*end general rules*/

    /*nav for pc*/

    .navpc{
      display: block;
      margin-top: 10px;
      width: 95%;
      margin: auto;
    }

    .navpc ul {
      margin: 0;
      padding:0;
      list-style: none;
    }

    .nav a {
      display:block;
      color: #7c7c7c;
      text-decoration: none;
      padding: 0.8em 1em;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 3px;
      text-shadow: 0 -1px 0 #f9f9f4;
      position: relative;
    }

    .nav{
      vertical-align: top;
      display: inline-block;
      box-shadow:
        1px -1px -1px 1px #f9f9f4,
        -1px 1px -1px 1px #f9f9f4,
        0 0 6px 3px #f9f9f4;
      border-radius:6px;
    }

    .nav li {
      position: relative;
    }

    .nav > li {
      float: left;
      border-bottom: 4px #f9f9f4 solid;
      margin-right: 1px;
    }

    /*.nav > li > a {
      margin-bottom: 1px;
    }*/

    .nav > li:hover,
    .nav > li:hover > a {
      border-bottom-color: #dd4d57;
    }

    .nav li a span{
      border-bottom: 4px #dd4d57 solid;
      padding-bottom: 12px;
      width: 100%;
    }

    .nav li:hover > a {
      color: #3f3f3f;
    }

    .nav > li:first-child {
      border-radius: 4px 0 0 4px;
    }

    .nav > li:first-child > a {
      border-radius: 4px 0 0 0;
    }

    .nav > li:last-child {
      border-radius: 0 0 4px 0;
      margin-right: 0;
      /*background: #dd4d57;*/
    }

    .nav > li:last-child > a {
      border-radius: 0 4px 0 0;
    }

    .nav li li a {
      margin-top: 1px;
      background: #f9f9f4;
    }

    .nav li a:first-child:nth-last-child(2):before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      border: 4px solid transparent;
      top: 50% ;
      right:5px;
     }

     .nav ul {
      position: absolute;
      white-space: nowrap;
      border-bottom: 4px solid #dd4d57;
      z-index: 1;
      left: -99999em;
    }
    .nav > li:hover > ul {
      left: auto;
      margin-top: 5px;
      min-width: 100%;
    }
    .nav > li li:hover > ul {
      left: 100%;
      margin-left: 1px;
      top: -1px;
    }

    /* arrow hover styling */

    .nav > li > a:first-child:nth-last-child(2):before {
      border-top-color: #dd4d57;
    }
    .nav > li:hover > a:first-child:nth-last-child(2):before {
      border: 4px solid transparent;
      border-bottom-color: #dd4d57;
      margin-top:-5px
    }
    .nav li li > a:first-child:nth-last-child(2):before {
      border-left-color: #dd4d57;
      margin-top: -5px
    }
    .nav li li:hover > a:first-child:nth-last-child(2):before {
      border: 4px solid transparent;
      border-right-color: #dd4d57;
      right: 10px;
    }

    /*end nav for pc*/

   }

   @media (min-width: 1244px){

      /*header */


     .header1, .navpc{
       width: 90%;
     }

     .header1{
       padding: 0 1.5em;
     }

     .nav a {
       padding: 0.8em 1.5em;
     }

     /*end header*/


     /*page index for pc*/

     .indexoferta article{
       width: 30%;
     }

     .containerindex, .containerempresa, .containertraducao,
     .containerorientacao, .containerdesignweb{
       width: 85%;
     }


     /*end page index for pc*/



   }
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
