/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*REGRAS COMUNS*/

   body{
     color: #383d3b;
     /*background-color: #f7f8f9;*/
   }

   img, figure{
     width: 100%;
     margin: 0;
   }

   a{
     color: inherit;
     text-decoration: none;
   }

   .containerindex, .follow{
     width: 90%;
     margin: auto;
   }

   li{
     list-style: none;
   }

   ul{
     padding: 0;
   }

   /*END REGRAS COMUNS*/

   /*HEADER*/

    header{
      display: flex;
      flex-direction: column-reverse;
    }

    .header2{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /*MENU JS*/

    .menu_bar{
      display: block;
      /*position: fixed;*/
      width: 30%;
      background: white;
    }

    .bt-menu img{
      width: 35px;
    }

    .bt-menu{
      display: block;
      padding: 10px;
      text-align: center;
      z-index: 200;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    nav{
      width: 100%;
      height: 350px;
      left: -100%;
      margin: 0;
      margin-top: 45px;
      position: fixed;
      background: #21295c;
      z-index: 100;
      opacity: 0.95;
      color: #D4E5C1;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
    }

    nav ul li a{
      display: inline-block;
      padding: 20px;
      -webkit-transition: all .8s ease; /* Safari and Chrome */
      -moz-transition: all .8s ease; /* Firefox */
      -ms-transition: all .8s ease; /* IE 9 */
      -o-transition: all .8s ease; /* Opera */
      transition: all .8s ease;
    }

    nav ul li a:hover{
      color: #f0544f;
    }

    nav span{
      color: #f0544f;
      /*text-decoration: line-through;*/
    }

    /*END MENU JS*/

   .logo1{
     display: none;
   }

   .logo2{
     width: 200px;
     padding: 10px;
   }

   .col-sm-12{
     padding: 0;
   }

   .follow{
     border-top: 4px #ff5964 solid;
     padding: 10px 0;
   }

   .list-inline{
     text-align: right;
   }

   .follow a{
     color: #7c7c7c;
     margin-left: 5px;
   }

   .follow i{
     transition: color .2s ease-in-out;
   }

   .follow a:nth-child(1):hover i{
     color: #3B5998;
   }

   .follow a:nth-child(2):hover i{
     color: #4099FF;
   }

   .follow a:nth-child(3):hover i{
     color: #dd4b39;
   }

   .follow a:nth-child(4):hover i{
     color: #a63372;
   }

   .lingua ul{
     display: flex;
   }

   .lingua ul li{
     margin: auto;
     padding-right: 4px;
     font-size: 13px;
   }

   .lingua ul img{
     width: 25px;
   }

   /*HEADER END*/

   /*CONTAINER INDEX*/

   .indexoferta{
     margin: auto;
     width: 90%;
   }

   .indexoferta article{
     text-align: center;
     padding: 30px 0;
   }

   .indexoferta article h2{
     text-transform: uppercase;
     color: #a38560;
     opacity: 0.7;
   }

   .indexoferta article p{
     color: #7c7c7c;
   }

   .indexoferta article a img{
     width: 80px;
   }

   .indexproposta{
     margin-bottom: 30px;
     border: 4px #eff1ed solid;
     padding: 20px;
     text-align: justify;
   }

   #mail{
     color: #ff5964;
   }

   #prop{
     background: #ff5964;
     border-radius: 4%;
     text-transform: uppercase;
     padding: 15px;
     color: #eff1ed;
   }

   /*END CONTAINER INDEX*/

   /*FOOTER*/

   .end2{
     background: #7c7c7c;
     color: #eff1ed;
   }

   .end2 ul{
     display: none;
   }

   .direito{
     width: 90%;
     padding: 10px 0;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .direito p{
     margin: 0;
     font-size: 12px;
   }

   .direito figure{
     width: 100px;
   }





   /*FOOTER END*/
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
